<!DOCTYPE html>
<html>
   	<head>
     	<title></title>
      	<link rel="stylesheet" type="text/css" href="/css/style.css">
   	</head>
   	<body>
      	<div class="container">
        	<%- include('./common/_header') %>
        	404
        	<a href="/">Home</a>
            <%- include('./common/_footer') %>
        </div>
   	</body>
</html>
