<!DOCTYPE html>
<html>
   	<head>
		<script src="/js/update.js"></script>
     	<title>Home</title>
   	</head>
   	<body>
      	<div>
            <%- include('./common/_header') %>
			<h3>Home</h3>
			<select id="selectMethod" onChange="populateFields(this)">
				<option value="none" selected disabled hidden> Select an Option</option> 
				<option value="new">New</option>
				<option value="popular">Popular</option>
			</select>
			<input type="text" id="textfield1" placeholder="Default">
            <%- include('./common/_footer') %>
        </div>
   	</body>
</html>
